minecraft/logs
minecraft/crash-reports/
minecraft/gtceu
minecraft/kubejs/README.txt
minecraft/kubejs/*/example.js
minecraft/kubejs/config/*.properties
minecraft/local
minecraft/modernfix
minecraft/saves
minecraft/screenshots
minecraft/server-resource-packs
minecraft/skyblockbuilder
minecraft/xaero