instance.cfg
minecraft/*.json
minecraft/icon.png
minecraft/options.txt
minecraft/rhino.local.properties
minecraft/config/*

!minecraft/config/defaultworldtype/
minecraft/config/defaultworldtype/*.txt

!minecraft/config/EasyMSC/
minecraft/config/EasyMSC/*
!minecraft/config/EasyMSC/disabled_mob_spawn_types.json
!minecraft/config/EasyMSC/spawn_rule_assignments.json
!minecraft/config/EasyMSC/spawn_rules.json

!minecraft/config/ftbquests/

!minecraft/config/skyblockbuilder/
minecraft/config/skyblockbuilder/*
!minecraft/config/skyblockbuilder/templates/
!minecraft/config/skyblockbuilder/dimensions.json5
!minecraft/config/skyblockbuilder/structures.json5
!minecraft/config/skyblockbuilder/templates.json5

minecraft/crash-reports/
minecraft/gtceu

minecraft/kubejs/README.txt
minecraft/kubejs/*/example.js
minecraft/kubejs/config/*.properties

minecraft/defaultconfigs
minecraft/local
minecraft/logs
minecraft/modernfix
minecraft/mods/*.jar
minecraft/saves
minecraft/screenshots
minecraft/server-resource-packs
minecraft/skyblockbuilder
minecraft/xaero
minecraft/XaeroWaypoints_BACKUP*/